:root{
    --color--primary: #222f58;
    --color--secondary: #f3f6fa;

    --blue--one: #486796;
    --blue--two: #80add8;
    --blue--three: #b9d8f1;
    
    --grey--600: #333333;
    --grey--300: #828282;
    --grey--100: #E0E0E0;
    --grey--0:#F5F5F5;
    --grey-4:#BDBDBD
}



// #0F60C2
// #00BFFF
// #87CEFA
// #0F60C2
// #C20F60
// #60C20F

// A cor #0F60C2 é um tom de azul escuro, que pode combinar com várias outras cores, dependendo do efeito que você deseja criar. Aqui estão algumas sugestões de paletas de cores que harmonizam com essa cor:

// Para um contraste forte, você pode usar cores complementares, como o laranja, o amarelo ou o vermelho. Por exemplo, uma paleta de cores com #0F60C2, #FFA500 e #FFFFFF pode criar um visual vibrante e energético.
// Para um efeito mais suave, você pode usar cores análogas, que são as que estão próximas no círculo cromático. Por exemplo, uma paleta de cores com #0F60C2, #00BFFF e #87CEFA pode criar um visual tranquilo e refrescante.
// Para um equilíbrio entre contraste e harmonia, você pode usar cores triádicas, que são as que formam um triângulo equilátero no círculo cromático. Por exemplo, uma paleta de cores com #0F60C2, #C20F60 e #60C20F pode criar um visual dinâmico e divertido.
